/* header responsive */
@media(max-width:1197px){
    .content{
        padding:15px;
    }
}
@media(max-width:957){
    .picture{
        width:30%;

    }
}
@media(max-width:805px){
    .navigation{
        display: none;
    }
    .burger-icon{
        display: block;
    }
}
@media(max-width:900px){
    .cake1{
        flex-wrap: wrap;
        flex-direction: column;
    }
}
