
html{
    scroll-behavior: smooth;
}
   
/* header */
.header-wraper{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
    padding:40px 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background-color: whitesmoke;
    opacity: 0.6;
}
.logo{
    color:black;
    font-weight: 700;
    font-size:40px;

}
.navigation{
    position: relative;
}
.nav-ul{
    display: flex;
}
.nav-li{
    margin-right: 30px;
}
.nav-li:last-child{
    margin-right: 0;
}
.nav-a{
    font-weight: 300;
    color:black;
}
.nav-a:hover{
    color:red;
}
/* banner */

.banner{
    position: relative;
    width:100%;
    background-image:url("../image/banner1.jpg");
    background-size:cover;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;


}
.container{
    max-width: 900px;
    text-align: center;
}
.banner-title{
    font-size: 60px;
    color:wheat;
    margin-bottom: 20px;
}
.banner-text{
    font-weight: 300px;
    color:wheat;
    font-size:20px;
}
.btn{
    font-size:10px;
    color:white;
    background-color:#1b1b1b;;
    display:inline-block;
    padding:10px 30px;
    margin-top:20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    box-shadow:0 5px 35px rgba(0,0,0,0.08);
    border:5px solid rgb(254, 238, 214);

}
.btn:hover{
    letter-spacing: 6px;
}

/* about section */
.about{
    padding:100px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.wraper{
    position: relative;
    width:48%;

}
.title-text{
    font-weight: 300;
    font-size:30px;
    /* color:#fff; */
    margin-bottom: 30px;
}
.title-text span{
    color:#E1C699;
    font-weight: 700px;
    font-size:45px;
}
.paragraph{
    margin-bottom: 20px;
}
.image-box{
    position: relative;
    width:100%;
    min-height: 300px;
        
}
.image-box img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
}
.wraper-div{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* menusection */

.wraper-menu{
display: flex;
justify-content: center;
width:100%;
align-items: center;
flex-direction: column;

}
.content{
    margin :0 auto;
    display: flex;
    justify-content: center; 

    align-items: center;
    flex-direction: column-reverse;    
    flex-wrap: wrap;
    margin-top:40px;
}
.box{
    width:340px;
    margin:20px;
    border:5px solid white;
    box-shadow:0 5px 35px rgba(0,0,0,0.08);
    background-color:black;

}
.menu-box{
    display: flex;
    align-items: center;
    justify-content: space-between;   
    margin-top:50px;
    width:1200px;
    box-shadow:0 5px 35px rgba(0,0,0,0.08);
    border:5px solid white;
    height: 400px;
    background-color:#E1C699;


}
.menu-img{
    width:48%;
    height: 100%;
    

}